.App {
  background-color: #282c34;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding-top: 100px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.game-img {
  height: 200px;
}

.next-btn {
  width : 100px;
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
}